
body {
  font: 18px 'Press Start 2P', cursive;
  margin: 250px;
}

.status {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
  color:#185e1f ;
}


.square {
  background: #aad5b9;
  border: 2px solid #185e1f;
  float: left;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  color: #185e1f;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  
}


.board-row:after {
  clear: both;
  content: "";
  display: table;
}


.game {
  display: flex;
  flex-direction: row;
  
}

.game-board {
  margin-right: 50px;
}

.game-info {
  margin-left: 20px;
}

